// Specific CSS for your home-page
.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 80vh;
  max-height: 80vh;
  p {
    font-family: $headers-font;
    color: $neon-green;
  }

}

.container-dashboard-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  a{
    text-decoration: none;
  }



  .card {
    flex: 0 0 auto;
  }
}

::-webkit-scrollbar {
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $neon-green;
  border-radius: 20px;
  width: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
