<h1>Friendships</h1>
<ul>
  <% @friendships.each do |friendship| %>
    <%= link_to friendship_path(friendship) do %>
      <li><%= friendship.user.username %> vs <%= friendship.friend_user.username %></li>
    <% end %>
  <% end %>
</ul>


