<div class="bad-container">
  <h1>Friends</h1>
    <% @friendships.each do |friendship| %>
      <%= link_to friendship_path(friendship) do %>
        <p><%= friendship.user.username %> </p>
        <!--friend_user is me...?-->
      <% end %>
    <% end %>
</div>
