<div class="bad-container">
  <h1>Friendships</h1>
  <ul>
    <% @friendships.each do |friendship| %>
      <%= link_to friendship_path(friendship) do %>
        <li><%= friendship.user.username %> </li>
        <!--friend_user is me...?-->
      <% end %>
    <% end %>
  </ul>
</div>
