<h1><%= @friendship.user.username %> vs <%= @friendship.friend_user.username %></h1>

<ul>
  <% @boards.each do |board| %>
    <%= link_to board_path(board) do %>
      <li><%= board.name %></li>
    <% end %>
  <% end %>
</ul>
