<div class="container-centered">
  <div class="bad-container">
    <div class="list-everyone">
      <h1>add a friend</h1>
      <% @everyone.each do |user| %>
        <div class="each-one">
          <p><%= user.username %></p>
          <%= button_to "add", friendships_path(friend_user_id: user.id), class: "btn-add-friend"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
