<h1>add a friend</h1>
<ul>
  <% @everyone.each do |user| %>
    <li>
      <%= user.username %>
      <%= button_to "add a friend", friendships_path(friend_user_id: user.id)  %>
    </li>
  <% end %>
</ul>
