

.btn-add-user-point {
  position: absolute;
  background-color: transparent;
  right: 25px;
  bottom: 25px;
  border: none;
  width: 50px;
  height: 50px;
}

.btn-add-friend-point {
  position: absolute;
  background-color: transparent;
  right: 25px;
  top: 25px;
  border: none;
  width: 50px;
  height: 50px;
}


.text-board-points {
  font-family: $headers-font;
  font-size: 6rem;
  font-weight: bold;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;

}


.board-user, .board-friend-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.board-user {
  background-color: $neon-green;

}

.board-friend-user {
  background-color: $bright-pink;
}

.container-board {
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: relative;

}
.text-board-name {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: 50%;
  transform: translate(0,-50%) rotate(180deg);
  margin: 0;
  z-index: 4;
  font-weight: 700;
  font-size: 2rem;
}

.text-board-game {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 8px 0px 8px;
  font-size: 0.6rem;
}

.img-board-skull {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 1;
}

.text-board-username {
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
