
.sign-up-btn {
  background-color: $neon-green;
  color: $black;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 1vh;
  width: fit-content;
  text-decoration: none !important;
  &:hover {
    background-color: $bright-pink;
  }
}

.btn-login, .btn-signup {
  background-color: $black;
  color: $neon-green;
  border: 3px solid $neon-green;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: $headers-font;
  margin: 1vh;
  border-radius: 16px;
}

.btn-logout {
  color: $neon-green;
  text-decoration: none;
  font-family: $headers-font;

}

.btn-add-friend {
  color: $neon-green;
  border: 3px solid $neon-green;
  border-radius: 16px;
  background-color: $black;
  padding: 4px 16px;
  font-size: 16px;
  margin-bottom: 1rem

}
