.navbar-lewagon {
  justify-content: space-between;
  background-color: $black;
  color: $light-gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 8vh;

  .nav-link {
    color: white
  }

  .nav-link-image {
    width: 36px;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}
