// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/everybody";
@import "boards/show";
@import "boards/index";
@import "friendships/index";

body {
  background-color: $gray;
  color: $light-gray;
}

.bad-container {
  margin: 5vh 4vw;
  margin-bottom: 10vh;
  max-height: 80vh;
  text-align: center;
  max-width: 400px;
  min-width: 300px;
  overflow-y: scroll;
}

.bad-container::-webkit-scrollbar {
  display: none;
}

.container-centered {
  display: flex;
  align-items: center;
  justify-content: center;

}

.bad-container::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .bad-container {
    margin: 5vh 10vw;
  }
}
