// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/everybody";
@import "boards/show";
@import "boards/index";
@import "boards/edit_boards";
@import "friendships/index";
@import "friendships/show";

html {
  height: 100%;
}

body {
  height: 100%;

  background-color: $black;
  color: $light-gray;
}

.bad-container {
  padding: 8% 0;
  text-align: center;
  width: 24rem;
  overflow-y: scroll;
  height: 100%;
}

.bad-container::-webkit-scrollbar {
  display: none;
}

.container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92%;

}

.bad-container::-webkit-scrollbar {
  display: none;
}
